   .button-pulse-detail {
   text-transform: uppercase;
   text-decoration: none;
   transition: background .3s, transform .3s, box-shadow .3s;
    will-change: transform;
   &:hover {
      background: darken(rgba(0, 0, 0, 0),1%);
      transform: translate3d(0, -2px, 0);
   }
   &:active {
     box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
     transform: translate3d(0, 2px, 0);
   }
 }
 .pulse-button-detail {
     position: relative;
     &:before, &:after {
       content: '';
       position: absolute;
       border-width: 100%!important;
       border-radius: 100%!important;
       opacity: 0;
       margin: auto;
     }
     &:before {
       animation: pulse 1.5s infinite linear;
     }
     &:after {
       animation: pulse 2s .4s infinite linear;
     }
     &:hover:before, &:hover:after {
       display: none;
     }
    }