.title{
    margin-left: 10%;
    height: 0.5%;
    width: 80%;
    margin-top: 5%; 
    font-weight: bold!important;
    border-bottom-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
}